@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2f;
    --foreground: #ededed;
  }
}

html,
body,
body > div {
  min-height: 100%;
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Public Sans", "Public Sans Fallback", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.theme-toggler {
  position: fixed;
  top: 1rem;
  right:  1rem;
}

body.light-mode {
  --background: #FAF9F6;
  --foreground: #171717;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  -webkit-overflow-scrolling: auto;
}
